<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
			<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
		</ul>
	</nav>

	<h1>Contact Page</h1>

	<ul>
		<li><a href="#">address</a></li>
		<li><a href="#">phone</a></li>
		<li><a href="#">email</a></li>
	</ul>
</div>